<div id="header">
    <div id="user-div">
        <span class="">登录</span>
        <span class="">发布</span>
    </div>
    <div id="brand-div">
        <a href="">brand</a>
    </div>
    <div id="search-div">
        <form action="">
            <div id="search-button-div">
                <input type="submit" name="submit" value="submit">
            </div>
            <div id="search-input-div">
                <input type="text" name="keyword" placeholder="...">
            </div>
        </form>

    </div>

</div>

<style>
    #header {
        font-size: 1rem;
        line-height: 30px;
        padding:5px 0;
    }
    /* 布局 */
    
    #search-div {
        margin-left: 60px;
        margin-right: 110px;
    }

    #brand-div {
        float: left;
        width: 50px;
    }

    #user-div {
        float: right;
        width: 100px;
    }

    #search-button-div {
        float: right;
        width: 60px;
    }

    #search-button-div > input{
        padding:5px;
    }

    #search-input-div {
        margin-right: 70px;
    }

    #search-input-div > input {
        width: 100%;
        border:1px solid #dddddd;
        height: 28px;
    }

</style>