<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="no">
    {#    {% include 'tags/bootstrap.html' %}#}
    <link rel="stylesheet" href="/static/css/reset.css">
</head>
<style>
    html {
        font-size: 16px;
    }
</style>
<body>
{% include 'tags/header2.html' %}
{#    {% include 'index/sub/announcement.html' %}#}
{#    {% include 'index/sub/content.html' %}#}
{#    {% include 'tags/footer.html' %}#}
{#    {% include 'tags/nav-top.html' %}#}
{##}
{#    {% include 'index/sub/content.html' %}#}

</body>
</html>