<div id="announcement">
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <span>keyword</span>
    <div style="clear:both"></div>
    <hr>
</div>

<style>
    @media only screen and (min-width: 1140px){
        #announcement{ width: 1140px; }
    }
    @media only screen and (max-width: 1140px){
        #announcement{ width: 100% }
    }
    #announcement {
        vertical-align: middle;
        margin: 0 auto;
        padding: 20px 10px;
        background-color: #ffffff;
    }
    #announcement span{
        font-size: 16px;
        padding:5px 10px;
        margin:5px;
        float: left;
        border:1px solid #dddddd;
        border-radius: 2px;
    }
</style>