<div id="content">
    <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
        <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
        <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
        <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
        <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
        <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
        <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
        <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
    <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
    <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
    <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
    <div class="vsgroup-item">
        <img class="vs-img" src="/static/img/logo.png" alt="">
        <div class="vs-div">
            <p>name</p>
            <p>sender</p>
            <p>2021-08-02</p>
            <p>key1,key2,key3</p>
        </div>
    </div>
</div>

<style>
    #content {
        margin: 0 auto;
    }


    @media only screen and (min-width: 1140px) {
        #content { width: 1140px; }

        .vsgroup-item { width: 49%; display: inline-block; }
    }

    @media only screen and (max-width: 1140px) {
        #content { width: 100% }
        .vsgroup-item { width: 49%; display: inline-block; }
    }

    @media only screen and (max-width: 720px) {
        .vsgroup-item {display: block;}
    }

    .vsgroup-item{
        margin:5px 0;
        padding:10px;
        border:1px solid #dddddd;
    }

    .vs-img {
        width: 140px;
        height: 140px;
        margin-right:10px;
    }

    .vs-div {
        display: inline-block;
        vertical-align: top;
    }

    .vs-div p {
        line-height: 35px;
    }

</style>